body {
  line-height: 1;
  margin: 0;
  padding: 0;
  background-color: var(--background-color); 
  color: var(--text-color);
}

/*<uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 400 to 900*/

.playfair-display-App {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #c0c0c0;
  --secondary-color: #8c8c8c;
  --background-color: #ffffff;
  --accent-color: #a9d2c5;
  --hover-color: #2c3e50;
  --button-color: #c0c0c0;
  --text-color: #2f2f2f;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: var(--primary-color);
  min-height: 10vh;
  box-shadow: 1px 4px 4px #07070763;
  position: relative;
}

header #branding {
  float: left;
  /* background: #004080; Darker blue */
  padding: 10px;
}

header #branding h1 {
  margin: 0 10px;
  font-size: 2rem;
  color: var(--hover-color);
  text-shadow: 1px 4px 4px #07070763;;
}

header #branding p {
  margin: 0 2px;
  font-size: 1.2rem;
  color: var(--text-color);
  /* text-shadow: 1px 4px 4px #07070763;; */
}

header nav {
  float: right;
}

header nav ul {
  padding: 0;
  list-style: none;
}

header nav ul li {
  float: left;
  padding: 0 15px;
}

header nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 4px 4px #ffffff63;
  font-size: 1rem;
  
  &:hover {
    padding: 1rem;
    border-bottom: 4px solid var(--hover-color);
  }
}

header nav ul li a:focus {
  padding: 1rem;
  border-bottom: 4px solid var(--hover-color);
}

#showcase {
  min-height: 80vh;
  padding: 2rem;
  background-color: #f2f2f2; 
  color: var(--text-color);
  text-align: center;
}

.image{
  padding: 1rem;
}

.profile-image {
  border-radius: 50%;
  border: 5px solid var(--primary-color); 
  box-shadow: 0 0 10px var(--secondary-color); 
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.text {
  text-shadow: 3px 5px 6px #979797;
  max-width: 600px;
  margin-left: 20px;
}


#showcase h1 {
  font-size: 3rem;
  margin-top: 0;
}

#showcase p {
  font-size: 1.5rem;
}


#main {
  min-height: 60vh;
  padding: 20px;
}

.info {
  padding: 20px;
  font-size: 1.2rem;
  position: relative;
}

.info h2 {
  font-size: 1.7rem;
  color: var(--secondary-color);
}

.info h3 {
  font-size: 1.4rem;
  color: var(--text-color);
}

.info a {
  text-decoration: none;
  color: var(--text-color);
}

.skills p {
  width: max-content;
  padding: .9rem;
  margin: 0 7px;
  border-radius: 25px;
  background-color: var(--accent-color);
}

footer {
  background: var(--hover-color); 
  color: var(--button-color);
  text-align: center;
  margin-top: 30px;
}
.icon {
  color: var(--hover-color);
}